<button mat-button (click)="getSortedData('App')">Sort by Name</button>
<button mat-button (click)="getSortedData('Rating')">Sort by Rating</button>
<button mat-button (click)="getSortedData('Reviews')">Sort by Review</button>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
        <ng-container matColumnDef="App">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.App}} </td>
        </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.Rating}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Reviews">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviews </th>
      <td mat-cell *matCellDef="let element"> {{element.Reviews}} </td>
    </ng-container>
    <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.Size}} </td>
      </ng-container>
      <ng-container matColumnDef="Installs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Installs </th>
        <td mat-cell *matCellDef="let element"> {{element.Installs}} </td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
      </ng-container>
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>
      <ng-container matColumnDef="Genres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Genres </th>
        <td mat-cell *matCellDef="let element"> {{element.Genres}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  
  