table {
  width: 100%;
}

td {
  width: 10%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-App {
  width: 28%;
}

.mat-cell {
  padding-left: 30px;
}

.mat-header-cell {
  padding-left: 30px;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.mat-elevation-z8 p {
  display: inline;
  margin-left: 20px;
}

.more {
  display: inline-block;
  margin-top: 20px;
  float: right;
}

#loader {
  z-index: 10;
}

.notFound {
  margin-top: 25px !important;
  color: red;
}
